@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Roboto", sans-serif;
  display: grid;
  background-color: #e7e7e7;
  grid-template-areas:
    "navbar navbar"
    "menu main"
    "footer footer";
  min-height: 100vh;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 60px 1fr 30px;
}
header {
  grid-area: navbar;
  background-color: #12527e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
header h1 {
  font-size: 16px;
}
aside {
  grid-area: menu;
  padding: 20px 0px 0px 25px;
  display: flex;
  flex-direction: column;
}
aside .nombres_categorias {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
aside .nombres_categorias span {
  color: gray;
}
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding: 70px;
}
.productos {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .productos img {
  max-width: 100%;
  height: 90%;
}
main .productos h2,
main .productos p {
  text-align: center;
  padding-top: 10px;
}
main .productos button {
  width: 100%;
  padding: 10px;
  background-color: #12527e;
  color: white;
}
footer {
  grid-area: footer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
